.cmp-vehicle-feature-tile {
}
.cmp-vehicle-feature-tile__title {
}
.cmp-vehicle-feature-tile__icon-wrapper {
}
.cmp-vehicle-feature-tile__icon {
}
.cmp-vehicle-feature-tile__text {
}
.cmp-vehicle-feature-tile__description {
}
.cmp-vehicle-feature-tile__cta {
  .cmp-link__screen-reader-only {
    display: none;
  }
}
.cmp-vehicle-feature-tile__cta-link {
}

.cmp-vehicle-feature-tile__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  background-color: #f0f0f0;
  color: #888;
  font-size: 1.25rem;
  border: 2px dashed #ccc;
}
