<article
  data-sly-use.model="com.client.core.models.VehicleFeatureTile"
  class="cmp-vehicle-feature-tile ${model.themeClass}"
  data-analytics-id="testing-vehicle-feature-tile"
  data-cmp-is="vehicle-feature-tile"
  data-sly-test.isComplete="${model.title && model.description && model.iconPath}"
>
  <div
    class="cmp-vehicle-feature-tile__icon-wrapper"
    data-sly-test="${model.iconPath}"
  >
    <img
      class="cmp-vehicle-feature-tile__icon"
      src="${model.iconPath}"
      alt="${model.iconAltOverride ? model.iconAltOverride : ''}"
    />
  </div>
  <h2
    class="cmp-vehicle-feature-tile__title"
    data-sly-test="${model.title}"
    data-cmp-hook-vehicle-feature-tile="title"
  >
    ${model.title}
  </h2>
  <p
    class="cmp-vehicle-feature-tile__description"
    data-cmp-hook-vehicle-feature-tile="description"
    data-sly-test="${model.description}"
  >
    ${model.description}
  </p>

  <div class="cmp-vehicle-feature-tile__cta" data-sly-test="${model.hasCta}">
    <a
      class="cmp-vehicle-feature-tile__cta-link cmp-button"
      href="${model.ctaUrl}"
      target="${model.ctaNewWindow ? '_blank' : '_self'}"
      rel="${model.ctaNewWindow ? 'noopener noreferrer' : ''}"
      aria-label="${model.ctaLabel} ${model.ctaNewWindow ? ' (opens in new tab)' : ''}"
      >${model.ctaLabel}</a
    >
  </div>
</article>

<sly data-sly-test="${!isComplete}">
  <p class="cmp-vehicle-feature-tile__placeholder">Vehicle Feature Tile</p>
</sly>
